body {
    font-family: "Arial", "Meiryo", sans-serif;
}

header {
    font-family: "Josefin Sans",sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 5px rgb(67, 20, 64);
    text-align: center;
    border-bottom: solid 3px rgb(115,115,114);
}

main {
    text-align: center;
}

.skyblue {
    color: skyblue;
}
.rgb {
    color: rgb(255,192,203);
}

#basic {
    font-size: 20px;
    font-weight: bold;
}